:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  color: #213547;
  background-color: #ffffff;
}

[data-theme='dark'] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
